@use "app/(scss-app)/theme" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $white;
  transition: box-shadow 0.2s;
  box-shadow: none;
}

.pageContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
