.layout {
  font-family: var(--font-inter), serif;
  min-width: 600px;

  *,
  *::before,
  *::after {
    font-family: inherit;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
