@use "app/(scss-app)/theme" as *;

.layout {
  &:root {
    --font-inter: "Inter", "Inter Fallback";
  }

  body {
    font-family: var(--font-inter), serif;
    min-width: 600px;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
